<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Lensite Blog</title>
        <link rel="stylesheet" href="/styles.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        />
    </head>
    <body>
        <header class="site-header">
            <div class="container">
                <div class="site-logo">
                    <a href="/">Lensite</a>
                </div>
                <nav class="site-navigation">
                    <ul>
                        <li><a href="/" class="nav-link">Home</a></li>
                        <li><a href="#" class="nav-link">About</a></li>
                        <li><a href="#" class="nav-link">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        {% block hero %}{% endblock hero %}
        <main class="site-content">
            <div class="container">
                {% block content %}{% endblock content %}
            </div>
        </main>
        <footer class="site-footer">
            <div class="container">
                <div class="footer-content">
                    <div class="footer-about">
                        <p>
                            Will I blog here? Hopefully.
                        </p>
                    </div>
                </div>
                <div class="copyright">
                    <p>&copy; 2025 Len Garvey.</p>
                </div>
            </div>
        </footer>
    </body>
</html>
