{% extends "base.html" %}
{% block hero %}
<section class="hero small-hero">
    <div class="container">
        <a class="home-link" href="/">
        <div class="hero-content">

                <div class="profile-image">
                    <img src="/len.jpg" alt="Len's Profile Picture" />

                </div>
                Home

        </div>
        </a>
    </div>
</section>
{% endblock hero %}

{% block content %}

<article class="blog-post">
    <header class="post-header">
        <h2 class="post-title">{{ page.title }} <span class="post-date">{{ page.date }}</span></h2>
    </header>

    <div class="post-content">{{ page.content | safe }}</div>

    <footer class="post-footer">
        {%- if page.taxonomies and page.taxonomies.tags -%}
        <div class="post-tags">
            {% for tag in page.taxonomies.tags %}
            <a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}" class="tag">#{{ tag }}</a>
            {% endfor %}
        </div>
        {%- endif -%}
    </footer>
</article>

{% endblock content %}
